<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/vue.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

<link type="text/css" href="~/Content/bootstrap-theme.css" />
<script type="text/javascript" src="~/Scripts/category.js"></script>
<html>
<body>
    <div id="app" class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" v-model="txtName" id="txtName" name="txtName" />
            </div>
        </div>
    </div>
</body>
</html>