<html>
<head></head>
<body>
    <div id="app">
        <div class="form-group">
            <div class="col-md-12">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" v-model="txtName" id="txtName" name="txtName" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="txtDescription">Description</label>
                <textarea class="form-control" v-model="txtDescription" id="txtDescription" name="txtDescription"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button id="btnSave" name="btnSave" class="btn btn-primary" v-on:click="SaveCategory">Save</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/axios")
    @Scripts.Render("~/bundles/vue/category")
</body>
</html>